@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(15,9,111);
    background: linear-gradient(267deg, rgba(15,9,111,1) 0%, rgba(75,75,186,1) 65%, rgba(0,120,173,1) 100%);
}

/* Home */

.line {
    height: 2px;
    background-color: black;
    position: absolute;
    left: 7%;
    right: 7%;
    animation: moveLine 1.4s ease-in-out;
}

@keyframes moveLine {
    0% {
        right: 93%;
    }
    100% {
        right: 7%;
    }
}

.avatar {
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatex(0px);
	animation: float 3s ease-in-out;
	img { width: 100%; height: auto; }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(60px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(0px);
	}
}

/* Error404 */

/* Sidenav */

.side-item:hover h1 {
    opacity: 1;
}

/* Resume */
